p {
  margin: 0;
  padding: 0;
}

.main {
  width: 945px;
  margin: 0 auto;
}

.quantity-checks {
  margin-left: 2px;
}

.checks-quantity-value {
  text-align: center;
}

.entry-field {
  text-align: center;
  border-color: red;
}

.checks-amounts-value {
  margin-bottom: 5px;
}

input:focus {
  border-color: white;
}

.checks-amounts-result {
  font-weight: bold;
}

.checks-litrs-value {
  margin-bottom: 5px;
}

.checks-litrs-result {
  font-weight: bold;
}

.checks-average-result {
  font-weight: bold;
}

.summ {
  margin-bottom: 5px;
}

.summ-result {
  font-weight: bold;
  color: red;
}

.button-conteiner {
  margin-left: 2px;
}
