/*

font-family: 'Merriweather', serif;
font-family: 'PT Sans Caption', sans-serif;

*/
html, body {
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 16px;
	line-height: 24px;
	min-width: 280px;
}

* {
	box-sizing: border-box;
}

p {
	margin: 0;
	padding: 0;
}

a {
	transition: 0.2s ease-out;
}

/******************************************
	GRID
******************************************/

.container {
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
}

.portfolio__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.portfolio__col,
.footer__col {
	width: 360px;
}

/******************************************
	HEADER
******************************************/

.header {
	background-color: #112739;
	background-image: url('../img/bg/bg-header.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	
	color: white;
	text-align: center;
	
	height: 100vh;
	min-height: 400px;
	
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	
	position: relative;
	
	padding-left: 15px;
	padding-right: 15px;
}

.header__title {
	font-family: 'Merriweather', serif;
	font-size: 56px;
	line-height: 62px;
	margin-top: -50px;
	margin-bottom: 30px;
}

.header__slogan {
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 28px;
	line-height: 42px;
}

.header__arrow {
	font-size: 48px;
	line-height: 40px;
	position: absolute;
	
	width: 60px;
	height: 50px;
	
	bottom: 36px;
	left: 50%;
	
	margin-left: -30px;
}

/******************************************
	PORTFOLIO
******************************************/

.portfolio {
	margin-bottom: 108px;
}

.portfolio__row {
	margin-bottom: 30px;
}

.portfolio__title {
	text-align: center;
	font-size: 46px;
	line-height: 62px;
	
	margin-top: 82px;
	margin-bottom: 65px;
}

.portfolio__col_img {
	margin-bottom: 22px;
}

.portfolio__col_img img {
	max-width: 100%;
	height: auto;
}

.portfolio__col_title a {
	margin: 0;
	margin-bottom: 14px;
	
	font-size: 24px;
	text-decoration: none;
	color: #000;
	
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.portfolio__col_title a:hover {
	color: #0052c2;
	border-bottom: 1px solid rgba(0, 82, 194, 0.3);
}

/******************************************
	FOOTER
******************************************/

.footer {
	padding-top: 80px;
	padding-bottom: 205px;
	
	background-color: #061634;
	
	color: #647aa2;
}

.footer__author_title {
	font-family: 'Merriweather', serif;
	font-size: 28px;
	margin-bottom: 12px;
}

.footer__social {
	color: #fff;
}

.footer__social_title {
	line-height: 42px;
	margin-bottom: 12px;
}

.footer__social_icons a {
	font-size: 32px;
	text-decoration: none;
	color: #fff;
	margin-right: 35px;
}

.footer__social_icons a:hover {
	color: #ffe400;
}

.footer__social_icons a:last-child {
	margin-right: 0;
}

.footer__contact_button {
	margin-bottom: 18px;
}

.footer__contact_button a {
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	letter-spacing: 1.5px;
	
	display: inline-block;
	
	border: 2px solid #fff;
	border-radius: 50px;
	
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 22px;
	padding-right: 22px;
}

.footer__contact_button a:hover {
	background-color: #fff;
	color: #061634;
}

/******************************************
	MEDIA
******************************************/

@media (max-width: 1160px) {
	
	.container {
		width: 100%;
	}
	
	.portfolio__col,
	.footer__col {
		width: 100%;
		text-align: center;
		margin: 0;
		margin-bottom: 30px;
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.portfolio {
		margin-bottom: 30px;
	}
	
	.footer {
		padding-top: 60px;
		padding-bottom: 80px;
	}
}

@media (max-width: 767px) {
	.header__title {
		font-size: 36px;
		line-height: 42px;
	}
	
	.header__slogan {
		font-size: 22px;
		line-height: 36px;
	}
	
	.header__arrow {
		font-size: 38px;
	}
}

@media (max-width: 326px) {
	
	.footer__social_icons a {
		font-size: 32px;
		text-decoration: none;
		color: #fff;
		margin-right: 20px;
	}
	
	.portfolio__title {
		font-size: 36px;
		line-height: 52px;
	}
}