body {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	font-weight: normal;
	font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	background: #f2f2f2;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 1200px;
	margin: 0 auto;
	position: relative;
	background: #fff;
	box-shadow: 0 0 10px 5px rgb(219,219,219);
}

.main-header {
	padding-left: 72px;
	padding-right: 72px;
}

.main-menu {
	position: relative;

}

.main-menu > a {
	position: absolute;
	left: 459px;
}

.main-menu a {
	text-decoration: none;
	color: rgb(0,0,0);
}

.main-menu ul {
	margin: 0;
	padding: 14px 0 16px 0;
}

.main-menu li {
	display: inline-block;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	width: 20%;
}

.main-menu li:nth-child(1) {
	text-align: left;
	margin-right: 26px;
}

.main-menu li:nth-child(2) {
	text-align: left;
	margin-right: 144px;
}

.main-menu li:nth-child(3) {
	text-align: right;
	margin-right: 29px;
}

.main-menu li:nth-child(4) {
	text-align: right;
}

.main-menu a:hover {
	color: rgb(129,179,210);
}

.main-menu a:active {
	color: rgb(202,202,202);
}

.main-menu .active-page {
	color: rgb(118,99,87);
}

.baner {
	min-height: 507px;
	background: url("../img/decore.png") no-repeat 0 451px, url("../img/background_logo.jpg") no-repeat;
	background-color: rgb(133,146,156);
}

.baner .hidden {
	display: none;
}

.slogan {
	width: 575px;
	margin: 0 auto;
	padding-top: 61px;
}

.slogan .title-h2 {
	width: 440px;
	margin: 0 auto;
	padding-bottom: 27px;
	text-align: center;
	position: relative;
	line-height: 26px;
}

.title-h2 span {
	margin-right: 28px;
}

.slogan .title-h2::before {
	content: "";
	position: absolute;
	width: 13px;
	top: 12px;
	left: 85px;
	height: 3px;
	background-color: rgb(0,0,0);
}

.sub-title {
	margin: 0 auto;
	text-align: center;
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
	padding: 0 0 51px 0;
}

.block-special {
	width: 400px;
	background-color: rgb(129,179,210);
	color: rgb(255,255,255);
	position: relative;
}

.block-special .title {
	display: block;
	width: 156px;
	margin: 0 auto;
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	text-align: center;
	padding-top: 47px;
	padding-bottom: 12px;
}

.block-special .number-title {
	display: block;
	width: 156px;
	margin: 0 auto;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
}

.block-special .number-title::before {
	content: "";
	position: absolute;
	width: 9px;
	height: 2px;
	top: 123px;
	left: 175px;
	background-color: rgb(194,217,232);
}

.block-special .number-title::after {
	content: "";
	position: absolute;
	width: 9px;
	height: 2px;
	top: 123px;
	left: 216px;
	background-color: rgb(194,217,232);
}

.block-special .text-title {
	width: 302px;
	margin: 0 auto;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	text-align: center;
	padding-top: 9px;
	padding-bottom: 59px;
	position: relative;
}

.text-title span {
	margin-right: 21px;
}

.text-title span::before {
	content: "";
	position: absolute;
	width: 9px;
	height: 2px;
	top: 19px;
	left: 68px;
	background-color: rgb(194,217,232);
}

.sedona-true-city {
	float: left;
}

.sedona-pic {
	line-height: 0;
	float: right;
}

.features-item {
	width: 400px;
	float: left;
	position: relative;
}

.features-item::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
}

.sprite-house::before {
	width: 75px;
	height: 72px;
	background-position: -5px -335px;
	top: 96px;
	left: 199px;
}

.sprite-food::before {
	width: 74px;
	height: 70px;
	background-position: -5px -255px;
    top: 96px;
	left: 200px;
}

.sprite-souvenirs::before {
	width: 64px;
	height: 76px;
	background-position: -5px -564px;
    top: 94px;
	left: 200px;
}

.features-item .title {
	display: block;
	width: 284px;
	margin: 0 auto;
	text-align: center;
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	padding-top: 161px;
	padding-bottom: 11px;
}

.features-item .text-title {
	width: 284px;
	margin: 0 auto;
	text-align: center;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	padding-top: 13px;
	padding-bottom: 82px;
}


.bridge-block {
	background-color: rgb(129,179,210);
}

.bridge-devil {
	float: right;
}

.bridge-pic {
	line-height: 0;
	float: left;
}


.features-grey {
	width: 400px;
	min-height: 256px;
	background-color: rgb(238,238,238);
	float: left;
	position: relative;
}

.features-grey .title {
	display: block;
	width: 118px;
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	text-align: center;
	padding-top: 47px;
	padding-bottom: 12px;
	margin: 0 auto;
}

.features-grey .number-title {
	display: block;
	width: 118px;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 11px;
	margin: 0 auto;
}

.features-grey .number-title::before {
	content: "";
	position: absolute;
	width: 9px;
	height: 2px;
	top: 123px;
	left: 175px;
	background-color: rgb(168,168,168);
}

.features-grey .number-title::after {
	content: "";
	position: absolute;
	width: 9px;
	height: 2px;
	top: 123px;
	left: 216px;
	background-color: rgb(168,168,168);
}

.features-grey .text-title {
	width: 268px;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 58px;
	margin: 0 auto;
}

.proposal {
	background-color: #ffffff;
	text-align: center;
	position: relative;
	width: 568px;
	margin: 0 auto;
	padding-top: 56px;
}

.proposal .title-h2 {
	font-size: 30px;
	line-height: 24px;
	font-weight: bold;
	margin: 0 0 30px 0;
}

.proposal .sub-title {
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	padding: 0 0 47px 0;
}

.search-button {
	width: 100%;
	box-sizing: border-box;
	display: inline-block;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: rgb(255,255,255);
	text-decoration: none;
	text-align: center;
	background-color: rgb(118,99,87);
	padding: 30px;
}

.form {
	display: block;
	width: 568px;
	position: absolute;
	background-color: rgb(255,255,255);
	padding-top: 55px;
	padding-bottom: 55px;
	padding-left: 55px;
	padding-right: 55px;
	top: 100%;
	left: 0;
	box-sizing: border-box;
	text-align: left;
	box-shadow: 0 3px 5px -1px rgb(219,219,219);
}

@-webkit-keyframes show {
	0% {
		-webkit-transform: scaleY(0) translateY(-100%);
	}

	50% {
		-webkit-transform: scaleY(1) translateY(20%);
	}

	70% {
		-webkit-transform: scaleY(.8) translateY(0%);
	}

	90% {
		-webkit-transform: scaleY(1) translateY(10%);
	}

	100% {
		-webkit-transform: scaleY(1) translateY(0);
	}
}

@-webkit-keyframes hide {
	0% {
		-webkit-transform: scaleY(1) translateY(0);
	}
	
	100% {
		-webkit-transform: scaleY(0) translateY(-100%);
	}
}

@keyframes show {
	0% {
		-ms-transform: scaleY(0) translateY(-100%);
    	transform: scaleY(0) translateY(-100%);
	}
	
	50% {
    	-ms-transform: scaleY(1) translateY(20%);
    	transform: scaleY(1) translateY(20%);
	}
  
	70% {
		-ms-transform: scaleY(.8) translateY(0%);
		transform: scaleY(.8) translateY(0%);
	}
  
	90% {
		-ms-transform: scaleY(1) translateY(10%);
		transform: scaleY(1) translateY(10%);
	}
  
	100% {
		-ms-transform: scaleY(1) translateY(0);
		transform: scaleY(1) translateY(0);
	}
}

@keyframes hide {
	0% {
		-ms-transform: scaleY(1) translateY(0);
		transform: scaleY(1) translateY(0);
	}
  
	100% {
		-ms-transform: scaleY(0) translateY(-100%);
		transform: scaleY(0) translateY(-100%);
	}
}

.form {
	-webkit-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top;
}

.form-show {
	-webkit-animation: show .75s forwards;
	animation: show .75s forwards;
}

.form-hide {
	-webkit-animation: hide .25s forwards;
	animation: hide .25s forwards;
}

.form-field {
	border: none;
	margin: 0;
	padding: 0;
	font-size: 0;
	position: relative;
}

.arrival,
.number-count {
	background-color: rgb(242,242,242);
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
}

label {
	display: inline-block;
	width: 102px;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	margin-right: 10px;
	vertical-align: middle;
}

.arrival {
	padding: 6px 41px 6px 13px;
	width: 346px;
	height: 38px;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
}

.person-count {
	font-size: 0;
	margin-bottom: 54px;
}

.btn-calendar {
	width: 21px;
	height: 22px;
	position: absolute;
	right: 9px;
	top: 8px;
	font-size: 0;
	background: none;
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	background-position: -5px -5px;
	padding: 0;
	border: 0;
	cursor: pointer;
	outline: 0;
}

.btn-calendar:hover {	
	background-position: -5px -69px;
}

.btn-calendar:active {
	background-position: -5px -37px;
}

.in {
	margin-bottom: 29px;
}

.out {
	margin-bottom: 30px;
}

.out input,
.in input {
	font-family: "PT Sans", Arial, sans-serif;
}

.out input:hover,
.in input:hover,
.count input:hover {
	background-color: rgb(235,235,235);
}

.out input:focus,
.in input:focus,
.count input:focus {
	background-color: rgb(255,255,255);
	outline: 2px solid rgb(229,229,229);
	outline-offset: -2px;
}

.adult,
.child,
.label-adult,
.label-child,
.btn-minus,
.btn-plus,
.num-adult,
.num-child {
	display: inline-block;
	vertical-align: top;
}

.label-adult,
.label-child {
	vertical-align: middle;
}

.count input {
	width: 38px;
	min-height: 38px;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0;
	text-align: center;
	border: 0;
	background-color: rgb(242,242,242);
	outline: 0;
	box-sizing: border-box;
	font-family: "PT Sans", Arial, sans-serif;
}

.btn-minus,
.btn-plus {
	width: 38px;
	min-height: 38px;
	border: 0;
	padding: 0;
	background-color: rgb(242,242,242);
	outline: 0;
	position: relative;
}

.btn-minus::before {
	content: "";
	position: absolute;
	top: 19px;
	left: 20px;
	margin-top: -1.5px;
	margin-left: -6px;
	width: 11px;
	height: 3px;
	background-color: rgb(169,169,169);
	border-radius: 1px;
}

.btn-minus:hover::before {
	background-color: rgb(0,0,0);
}

.btn-minus:active::before {
	background-color: rgb(129,179,210);
}

.btn-plus::before,
.btn-plus::after {
	top: 19px;
	left: 20px;
	content: "";
	margin-left: -6px;
	margin-top: -1.5px;
	position: absolute;
	width: 11px;
	height: 3px;
	background-color: rgb(169,169,169);
	border-radius: 1px;
}

.btn-plus::after {
	transform: rotate(-90deg);
}

.btn-plus:hover::before,
.btn-plus:hover::after {
	background-color: rgb(0,0,0);
}

.btn-plus:active::before,
.btn-plus:active::after {
	background-color: rgb(129,179,210);
}

.adult {
	width: 226px;
	margin-right: 54px;
}

.child {
	width: 178px;
}

.count {
	display: inline-block;
	vertical-align: middle;
}

.child .label-child {
	width: 54px;
}

.btn-search {
	box-sizing: border-box;
	width: 100%;
	border: 0;
	padding: 17px 15px 15px 15px;
	background-color: rgb(129,179,210);
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	color: rgb(255,255,255);
	font-family: "PT Sans", Arial, sans-serif;
}

.btn-search:hover {
	background-color: rgb(102,158,192);
}

.btn-search:active {
	background-color: rgb(84,150,189);
	color: rgb(148,185,210);
}

.sub-title-span {
	display: block;
}

.map {
	width: 1200px;
	height: 593px;
	background-image: url("../img/map.jpg");
	background-color: rgb(220,227,199);
}

.main-footer {
	margin-top: -120px;
	background-color: rgba(255,255,255,0.9);
	font-size: 0;
	position: relative;
}

.hteg {
	display: inline-block;
	font-size: 0;
	width: 400px;
	vertical-align: middle;
	text-align: center;
	line-height: 28px;
}

.hteg a:link,
.hteg a:visited,
.hteg a:active {
	color: rgb(0,0,0);
}

.hteg .hteg-link {
	display: inline-block;
	vertical-align: top;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-decoration: none;
}

.social {
	display: inline-block;
	width: 400px;
	vertical-align: middle;
	text-align: center;
	padding-top: 36px;
	padding-bottom: 36px;
	margin-left: -1px;
}

.btn {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	width: 46px;
	min-height: 48px;
	background-color: rgb(129,179,210);
	position: relative;
	margin-right: 6px;
}

.btn:last-child {
	margin-right: 0;
}

.btn:hover {
	background-color: rgb(102,158,192);
}

.btn:active::before {
	opacity: 0.3;
}

.btn::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
}

.btn-tw::before {
	width: 16px;
	height: 14px;
	background-position: -5px -677px;
}

.btn-fb::before {
	width: 11px;
	height: 20px;
	background-position: -5px -198px;
}

.btn-yt::before {
	width: 20px;
	height: 16px;
	background-position: -5px -727px;
}

.author {
	display: inline-block;
	width: 400px;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
	position: relative;
	margin-left: 1px;
}

.author .author-text {
	font-size: 14px;
	line-height: 26px;
	display: inline-block;
	vertical-align: top;
	padding: 5px 4px 0 0;
}

.author .author-img {
	width: 113px;
	height: 39px;
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	background-position: -5px -417px;
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
}

.author .author-img:hover {
	width: 113px;
	height: 39px;
	background-position: -5px -515px;
}

.author .author-img:active {
	width: 113px;
	height: 39px;
	background-position: -5px -466px;
}

.back {
	background-color: rgb(96,120,142);
	background-image: url("../img/filter-background.jpg");
	background-repeat: no-repeat;
	width: 100%;
	min-height: 217px;
}

.filter {
	position: relative;
	padding-top: 27px;
}


.filter .filter-infr {
	width: 200px;
	margin: 0 0 0 36px;
	padding: 0 0 0 35px;
	border: 0;
	float: left;
}

.filter legend {
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
	color: rgb(255,255,255);
	margin-bottom: 24px;
}

.filter label {
	display: block;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	color: rgb(255,255,255);
	margin-bottom: 24px;
}

.filter .filter-type {
	width: 480px;
	margin: 0;
	padding: 0 0 0 55px;
	border: 0;
	float: left;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
	display: block;
	line-height: 22px;
	position: relative;
	cursor: pointer;
	padding-left: 41px;
}

input[type="checkbox"] + label {
	padding-left: 42px;
}

input[type="checkbox"] + label::before {
	content: "";
	display: block;
	width: 22px;
	height: 22px;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
}

input + label::before {
    width: 22px;
	height: 22px;
	background-position: -5px -101px;
}

input:checked + label::before {
    width: 26px;
	height: 22px;
	background-position: -5px -133px;
}

input[disabled] + label::before {
	width: 22px;
	height: 22px;
	background-position: -5px -101px;
	opacity: 0.48;
}

input[disabled]:checked + label::before {
	width: 26px;
	height: 22px;
	background-position: -5px -133px;
	opacity: 0.48;
}

.filter-range {
	width: 318px;
	color: #ffffff;
	text-transform: uppercase;
	position: absolute;
	top: 28px;
	left: 810px;
	margin: 0;
	padding: 0;
	border: 0;
	float: right;
}

.filter-range-title {
	margin-bottom: 9px;
 	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
}

.price-controls {
	position: relative;
	height: 32px;
	margin-bottom: 20px;
	font-size: 0;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background: #ffffff;
	transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;
	font-size: 14px;
	line-height: 32px;
	vertical-align: top;
	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 80px;
	padding-left: 65px;
}

.min-price input,
.max-price input {
	display: inline-block;
	vertical-align: top;
	height: 30px;
}

.price-controls .max-price {
	padding-left: 57px;
}

.price-controls input {
	width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
}

.price-controls label[value] {
	font-size: 21px;
}

input[type="number"] {
    -moz-appearance:textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.range-controls {
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	font-size: 0;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
	background: #1c4f80;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.btn-transparent {
	display: block;
	width: 137px;
	margin: 0 0 0 85px;
	padding: 6px 32px;
 	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
	font-family: "PT Sans", Arial, sans-serif;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.all-result {
	border-bottom: 1px solid rgb(229,229,229);
	padding: 0 72px;
}

.all-result .find {
	width: 153px;
	padding: 30px 11px 30px 0;
	float: left;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.all-result .sorting-type {
	width: 700px;
	padding: 36px 10px 32px 0;	
	float: left;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;	
}

.sorting-type span {
	padding-right: 37px;
}

.sorting-type a {
	border-bottom: 1px dotted rgb(129,179,210);
	text-decoration: none;
	color: rgb(202,202,202);
	margin-right: 29px;
}

.sorting-type a:hover {
	color: rgb(129,179,210);
}

.sorting-type a:active {
	color: rgb(0,0,0);
	border: none;
}

.sorting-type .active {
	color: rgb(129,179,210);
	border: 0;
}

.sorting-direction {
	width: 147px;
	padding:;
	float: right;
	position: relative;
	padding: 43px 0;
}

.sorting-direction a {
	display: inline-block;
	width: 11px;
	height: 10px;
	font-size: 0;
	vertical-align: middle;
	position: absolute;
}


.sorting-direction a:nth-child(1) {
	top: 39px;
	left: 112px;
}

.sorting-direction a:nth-child(1) {
	width: 0px;
	height: 0px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid transparent;
	border-bottom-color: rgb(202,202,202);
	border-top-width: 0;
}

.sorting-direction a:nth-child(2) {
	top: 39px;
	left: 135px;
}

.sorting-direction a:nth-child(2) {
	width: 0px;
	height: 0px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid transparent;
	border-top-color: rgb(129,179,210);
	border-bottom-width: 0;
}

.sorting-direction a:hover {
	border-bottom-color: rgb(0,0,0);
	border-top-color: rgb(0,0,0);
}

.sorting-direction a:active {
	border-bottom-color: rgb(129,179,210);
	border-top-color: rgb(129,179,210);
}

.catalog .catalog-item {
	border-bottom: 1px solid rgb(229,229,229);
}

.catalog .item-photo {
	width: 135px;
	height: 90px;
	padding: 30px 30px 30px 72px;
	float: left;
}

.catalog .item-description {
	width: 700px;
	padding: 25px 10px 30px 0;
	float: left;
}


.item-description .item-title {
	margin: 0;
	margin-bottom: 7px;
}

.item-title a {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-decoration: none;
	color: rgb(0,0,0);
}

.item-title a:hover {
	color: rgb(129,179,210);
}

.item-title a:active {
	color: rgb(202,202,202);
}

.item-info {
	margin-bottom: 14px;
}

.item-info span {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	width: 112px;
	display: inline-block;
}

.item-btn a {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
}

.item-btn .btn-catalog { 
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	color: rgb(255,255,255);
	text-decoration: none;
	padding: 3px 17px;
	margin-right: 2px;
}

.btn-about {
	background-color: rgb(129,179,210);
}

.btn-about:hover {
	background-color: rgb(102,158,192);
}

.btn-about:active {
	background-color: rgb(84,150,189);
	color: rgba(255,255,255,0.3);
}

.btn-buy {
	background-color: rgb(118,99,87);
}

.btn-buy:hover {
	background-color: rgb(96,78,67);
}

.btn-buy:active {
	background-color: rgb(80,62,51);
	color: rgba(255,255,255,0.3);
}

.catalog .item-rating {
	width: 125px;
	padding: 28px 72px 32px 0;
	text-align: right;
	float: right;
}

.item-rating .item-stars {
	padding-top: 1px;
	padding-bottom: 47px;
}

.star {
	display: inline-block;
	font-size: 0;
	vertical-align: top;
}

.star-2 {
	width: 48px;
	height: 17px;
	background-image: url(../img/star.png);
	background-repeat: repeat-x;
}

.star-3 {
	width: 72px;
	height: 17px;
	background-image: url(../img/star.png);
	background-repeat: repeat-x;
	background-position: 0;
}

.star-4 {
	width: 96px;
	height: 17px;
	background-image: url(../img/star.png);
	background-repeat: repeat-x;
}

.item-rating-info .rating-number {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	padding: 4px 12px 5px 15px;
	margin-right: 1px;
	background-color: rgb(242,242,242);
}

.footer-catalog {
	margin-top: 0;
}